@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
    font-family: "Overpass", sans-serif;
}
@media screen and (min-width:320px){
    .sub_container1{
        width: 100%;
        height: 50vh;
        animation: fadetop 2s ease;
    }
    .sub_container2{
        width:60%;
        height:30vh;
        top: 40%;
        right:10%;
        right:none;
        font-size: 14px;
        padding:2rem;
        padding-bottom: 4rem;
        animation: fadebottom 2s ease;
    }
    @keyframes fadetop{
        0%{
            opacity: 0;
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes fadebottom{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
@media screen and (min-width:768px){
    .sub_container1{
        width: 70%;
        height: 80vh;
        animation: faderight 2s ease;
    }
    .sub_container2{
        width:30%;
        height:45vh;
        top: 12%;
        right:1%;
        left: none;
        font-size: 16px;
        padding:2rem;
        animation: fadeleft 2s ease;
    }
    @keyframes faderight{
        0%{
            opacity: 0;
            transform: translate(-50px);
        }
        100%{
            opacity: 1;
            transform: translate(0px);
        }
    }
    @keyframes fadeleft{
        0%{
            opacity: 0;
            transform: translate(50px);
        }
        100%{
            opacity: 1;
            transform: translate(0px);
        }
    }
}
@media screen and (min-width:1024px){
    .sub_container1{
        width: 70%;
        height: 100vh;
        animation: faderight 2s ease;
    }
    .sub_container2{
        width:30%;
        height:50vh;
        top: 20%;
        right:3%;
        left: none;
        font-size: 20px;
        padding:2rem;
        animation: fadeleft 2s ease;
        font-size: 20px;
    }
    @keyframes faderight{
        0%{
            opacity: 0;
            transform: translate(-50px);
        }
        100%{
            opacity: 1;
            transform: translate(0px);
        }
    }
    @keyframes fadeleft{
        0%{
            opacity: 0;
            transform: translate(50px);
        }
        100%{
            opacity: 1;
            transform: translate(0px);
        }
    }

}
.main_container{
    display: flex;
    width: 100%;
}
.sub_container1{
    background-image: url('image5.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.sub_container2{
    background-color:#483D8B;
    position: absolute;
    color:white;
    text-align: justify;
}
h2{
    margin: 0;
    margin-bottom: 1rem;
    text-align: right;
    color:#FF1493;
}
.headiline_partial{
    color:#1E90FF;
}

